/* some style */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.todo {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    /* background-color: #eafaf1; */
    height: 100vh;
}

.graph {
  /* background-color: #eafaf1; */
   /* height: 700px; */
   -ms-flex: 1 1 auto;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   /* margin-top: 20px; */
}

.form {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-bottom: 10px;
  /* background-color: #eaeaea; */
}

input {
   width: 100%;
}

input[type="button"] {
  width: auto;
  font-weight: bold;
}

.valor {
  font-weight: bold;
}

.medio {
  width: 48%;
  /* padding-left: 10px; */
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  flex: 10 1 auto;
  /* background-color: #dddddd; */
}
